@font-face {
  font-family: "Little Cecily";
  src: url("./fonts/LittleCecily.woff2") format("woff2"),
    url("./fonts/LittleCecily.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EVEY";
  src: url("./fonts/EVEY-Bold.woff2") format("woff2"),
    url("./fonts/EVEY-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ustroke";
  src: url("./fonts/Ustroke-Regular.woff2") format("woff2"),
    url("./fonts/Ustroke-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/red-brick-wall-3614976_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000000;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

.chat {
  background: transparent;
  height: 100vh;
  padding: 0 50px;
}

.post-item {
  float: left;
  background-color: transparent;
  padding: 4% 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 400px;
  min-width: 250px;
  min-height: 200px;
  box-sizing: content-box;
}

.post-item--0 {
  background-image: url("./img/adv/4T96z7kjc.png");
  margin: 14px 7px 29px 17px;
}

.post-item--1 {
  background-image: url("./img/adv/9d9ad0a09007f03d30dcf2678198fbc4.png");
  padding: 50px 6px;
  margin: 10px 14px 21px 11px;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.font--2 {
  font-family: "EVEY", Arial, sans-serif;
  font-size: 45px;
  font-weight: 500;
}

.font--1,
.form-inner,
.form-row-icon button {
  font-family: "Little Cecily", Arial, sans-serif;
  font-size: 25px;
  font-weight: 800;
}

.font--0,
h1 {
  font-family: "Ustroke", Arial, sans-serif;
  font-size: 54px;
  font-weight: 800;
  color: yellow;
  background-image: none;
  background-color: transparent;
}

h1 {
  font-size: 20px;
}

.buttons-wrapper {
  display: flex;
}

.buttons-wrapper div,
.buttons-wrapper button {
  margin-right: 10px;
}

* {box-sizing: border-box;}
.air {
  width: 70%;
  margin: 50px auto 0;
  padding: 20px;
  background: #E4E3DF;
  box-shadow: 8px 8px 7px rgba(0,0,0,1)
}
.form-inner {
  border: 2px solid #909090;
  border-bottom: none;
}
.stripes-block {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  background: repeating-linear-gradient(-45deg, #E4E3DF, #E4E3DF 5px, #909090 6px, #909090 8px);
  border-bottom: 2px solid #909090;
}
.stripes-block:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 8px;
  margin-left: -6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fffffe;
  box-shadow: 0 0 0 1px #090606, 0 0 0 12px #9c8778;
}
.form-row {
  position: relative;
  padding: 10px;
  border-bottom: 2px solid #909090;
}
.form-row label {
  display: block;
  text-decoration: underline;
}
.form-row input {
  display: block;
  width: 100%;
  padding: 0;
  line-height: 30px;
  border-width: 0;
  background: #E4E3DF;
}
.form-row textarea {
  width: 100%;;
  padding: 0;
  outline: 0;
  line-height: 40px;
  background: transparent url(https://html5book.ru/wp-content/uploads/2016/12/bg-form.png) bottom left repeat-x;
  background-size: 8px 40px;
  letter-spacing: 0.2em;
  background-attachment: local;
  background-repeat: repeat;
  border-width: 0;
  resize: none;
  font-family: "Little Cecily", Arial, sans-serif;
  font-size: 25px;
  font-weight: 800;
}
.form-row-icon {
  position: relative;
  border-bottom: 2px solid #909090;
}
.form-row-icon .fa {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #909090;
  color: #E4E3DF;
  border-bottom: 2px solid;
}
.form-row-icon input {
  display: block;
  width: 100%;
  padding: 0 10px 0 50px;
  line-height: 40px;
  box-sizing: border-box;
  border-width: 0;
  background: #E4E3DF;
}
.form-row-icon .fa-paper-plane-o {
  border-bottom-color: #909090;
  cursor: pointer;
}

.form-row-icon button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0;
  line-height: 30px;
  border-width: 0;
  background: #E4E3DF;
  padding-top: 11px;
  transition-property: background-color;
  transition-duration: 0.3s;
}


.form-row-icon button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}